@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.bottom-to-top {
  transform: rotate(180deg);
}
.top-to-bottom {
  transform: translateY(95%);
}
.custom-shape-divide svg {
  position: relative;
  display: block;
  width: calc(234% + 1.3px);
  height: 105px;
}

.custom-shape-divider .shape-fill {
  fill: black;
}
.rdrDefinedRangesWrapper {
  display: none;
}
